@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}
.futo-maroon {
  background-color: #008000;
}
.futo-text-maroon {
  color: #008000;
}
.futo-border-maroon {
  border-color: #008000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-scaleUp {
  animation: scaleUp 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
